<button
  class="fixed bottom-3 right-3 w-16 h-16 bg-blue-500 rounded-full flex flex-row items-center justify-center hover:brightness-75 transition-all"
  hx-get="/forms/register-payment"
  hx-target="#page-content"
>
  <span class="text-3xl text-white">+</span>
</button>
