<div class="flex flex-col gap-4">
  <% for (let i = 0; i < count; i++) { %>
  <div
    class="flex flex-col bg-slate-200 rounded shadow h-16 animate-pulse"
    hx-get="/info/account"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>
  <% } %>
</div>
