<!DOCTYPE html>
<html>
  <head>
    <title>Para</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="tailwind.css" />

    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="absolute w-screen h-screen overflow-x-hidden overflow-y-auto flex flex-col gap-2">
      <div class="flex flex-col gap-2 p-4">
        <div hx-get="/info" hx-trigger="load" hx-swap="outerHTML"></div>
      </div>
    </div>

    <!--<header hx-get="/header" hx-trigger="load" hx-swap="outerHTML"></header>-->
  </body>
</html>
