<form class="flex flex-col gap-2">
  <h1 class="text-2xl font-medium">Skapa betalning</h1>

  <%- include('../ui/input', { label: 'Affär', args: { type: 'text' } }); %>

  <div class="grid grid-cols-2 gap-2">
    <div>
      <%- include('../ui/input', { label: 'När', args: { type: 'date', value: now } }); %>
    </div>
    <div><%- include('../ui/input', { label: 'Mängd', args: { type: 'number' } }); %></div>
  </div>

  <div class="grid grid-cols-2 gap-2">
    <div><%- include('../ui/button', { content: 'Skapa' }) %></div>
  </div>
</form>
